header, main {
    width: 1000px;
    margin: 10px auto;
    text-align: center;
}

table {
    width: 800px;
    margin: auto;
    border: 1px solid #000;
    border-spacing: 0px;
}

td, th {
    border: 1px solid #000;
    padding: 15px;
    width: 50px;
}

th {
    background-color: cornsilk;
    cursor: pointer;
}